
<div class="jumbotron">
<h1>Welcome to my app</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "here", "http://www.robinsim.squarespace.com", class:"btn btn-success btn-lg" %>.</p>
</div>

